body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100vh;
}

/* 헤더 sticky 속성을 주석 처리 */
/*
header {
position: sticky;
top: 0;
background-color: #f1f1f1;
padding: 20px;
text-align: center;
transition: background-color 0.5s ease-in-out;
z-index: 999;
}
*/

#topMoviesContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.top-card {
    width: 200px;
    height: 300px;
    background-color: #f2f2f2;
    margin: 0 10px;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.top-card:hover {
    transform: scale(1.5);
    background-color: #f1f1f1;
}

.top-card::before {
    content: attr(data-rank);
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    color: #f1f1f1;
    font-weight: bold;
    border-radius: 5px;
    font-size: 60px;
}
/* 헤더 hover 스타일 */
header:hover {
    background-color: #333;
}

header:hover h1 {
    color: #f1f1f1;
}

h1 {
    cursor: pointer;
    margin-bottom: 30px;
    color: #333;
    transition: color 0.5s ease-in-out;
}

.search-container {
    /* position: sticky; */
    top: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    z-index: 999;
}

.search-container input[type='text'] {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    flex: 1;
}

.search-container button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.search-container button:hover {
    background-color: #555;
}

.card-container {
  margin: 50px auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  /* margin-bottom: 20px; */
  width: 300px;
  height: 450px;
  justify-self: center;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;

  position: relative;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 450px;
}

.card-text {
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  /* opacity: 0;
  transition: opacity 0.35s ease-in-out; */
}

.card:hover .card-text {
  opacity: 1;
}

.card h3 {
  width: 270px;
  height: 105px;
  font-size: 30px;
  /* padding-bottom: 0.4em; */
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.card .card-text h2 {
  font-size: 30px;
  padding-bottom: 0.4em;

  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.card .card-text p {
  width: 270px;
  height: 178px;
  font-size: 20px;
  line-height: 25px;
  /* display: block; */
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  text-transform: initial;
}

/* 검색하기 버튼 */
a {
  color: black;
  text-decoration: none;
  outline: none;

  font-size: 50px;
  font-family: "TheJamsil5Bold";
}

a:active {
  text-decoration: none;
  /* color: #ff; */
}

.hover-1 {
  --c: #1095c1; /* the color */
  --s: 0.15em;

  line-height: 1.1em;
  padding-bottom: calc(2.1 * var(--s));
  background: conic-gradient(from 135deg at top, var(--c) 90deg, #0000 0) left 0
      bottom var(--s) / calc(2 * var(--s)) var(--s) repeat-x,
    conic-gradient(from -45deg at bottom, var(--c) 90deg, #0000 0) left var(--s)
      bottom 0 / calc(2 * var(--s)) var(--s) repeat-x;
  -webkit-mask: linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0) 0 / var(--_p, 0%) padding-box no-repeat;
  transition: 0.5s;
}
.hover-1:hover {
  --_p: 100%;
  color: var(--c);
}

@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
