body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.5s ease-in-out;
}

header {
    position:sticky;
    top:0;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
    z-index: 999;
}

header:hover {
    background-color: #333;
}

header:hover a {
    color: #f1f1f1;
}

h1 {
    margin-bottom: 30px;
    color: #333;
    transition: color 0.5s ease-in-out;
}

.search-container {
    position: sticky;
    top: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    z-index: 999;
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    flex: 1;
}

.search-container button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.search-container button:hover {
    background-color: #555;
}

.card-container {
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 400px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 580px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card-content {
    padding: 20px;
}

.card h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
}

.card .rating {
    text-align: center;
    font-weight: bold;
}