body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  height: 100vh;
}
.inner {
  display: block;
  align-items: center;
  padding: 70px 30px;
  color: darkgray;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.temp {
  display: flex;
  position: relative;
  z-index: 100;
  padding-top: 80px;
  margin: 30px 90px 0px 90px;
  justify-content: center;
  align-items: center;
}

.poster {
  margin-right: 30px;
}
.desc {
  width: 400px;
  height: 400px;
}
.desc > ul {
  margin: 0;
  clear: both;
  padding-left: 0px;
  font-size: 20px;
  opacity: 0.5;
}

p {
  max-width: 600px;
  font-size: 20px;
  clear: both;
  display: inline-block;
  margin-top: 30px;
}

.info {
  display: flex;
  justify-content: center;
}
.info > div > h1 {
  width: 400px;
  margin: 0;
  padding-bottom: 30px;
  font-size: 40px;
}
.info > div > h2 {
  margin: 0;
  float: right;
  font-size: 35px;
  color: #d5207a;
}
.info > div > h3 {
  width: 100px;
  margin: 0;
  float: left;
  opacity: 0.5;
}

.backBtn {
  z-index: 100;
  position: absolute;
  top: 5%;
  left: 3%;
}

.review-list {
  position: relative;
  z-index: 100;
  width: 620px;
  height: 300px;
  margin-top: 20px;
  border-radius: 20px;
  /* background-color: rgba(213, 32, 122, 0.382); */
}

i {
  font-size: 30px;
  transition: 0.2s;
}
i:hover {
  font-size: 35px;
}
.username,
.review,
.password {
  height: 30px;
  padding: 0;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}
.username,
.password {
  width: 100px;
}
.review {
  width: 300px;
}
.submit-button {
  width: 50px;
  height: 30px;
  padding: 0;
  font-size: 12px;
  border: 0;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
}

#review-list {
  width: 100%;
  height: 190px;
  margin: 20px 0 30px 0;
  position: relative;
  z-index: 100;
}
#review-list::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
form {
  display: flex;
  justify-content: space-between;
  width: 620px;
  text-align: center;
}

#review-list > ul {
  display: block;
  list-style-type: disc;
  padding: 0 8px 0 0;
}
li {
  display: inline-flex;
}
.id {
  min-width: 70px;
  /* margin-right: 70px; */
  margin-left: 10px;
}
.comment {
  max-width: 330px;
  margin-left: 50px;
  /* white-space: normal; */
  /* word-wrap: break-word */
  /* overflow: hidden; */
}
.edit {
  float: right;
  border-radius: 15px;
  margin-right: 5px;
  margin-top: 5px;
}
.delete {
  float: right;
  border-radius: 15px;
  margin-top: 5px;
}
/* .username {
        font-weight:bold;
      } */
